### Variables

In [ ]:
# create a variable
?
# a

In [ ]:
# print the value of variable
?

In [ ]:
# print any msg on output
?

In [ ]:
# check data type of a variable
?

In [ ]:
# Assign multiple values to multiple variables
?

In [ ]:
# try printing a or b or c
?

In [ ]:
# another way of declaring multiple variables in single statement
?

In [ ]:
# try printing a or b or c
?

In [ ]:
# Assign same value to multiple variables
?

In [ ]:
# print value
?

In [ ]:
#python is case sensitive
?

In [ ]:
new

In [ ]:
New

In [ ]:
?       # An integer assignment
?      # A floating point
?       # A string
?
?


print(counter)
print(miles)
print(name)
print(d)
print(e)

In [ ]:
print(?)
print(?)
print(?)
print(?)
print(?)

## Keywords

All the keywords except True, False and None are in lowercase and they must be written as they are.

The list of all the keywords is given below.

False	await	else	import	pass

None	break	except	in	raise

True	class	finally	is	return

and	continue	for	lambda	try

as	def	from	nonlocal	while

assert	del	global	not	with

async	elif	if	or	yield

## Input-Output

In [ ]:
a = 10
print(?)

In [ ]:
print(?)

In [ ]:
print("welcome")
print("to all")

In [ ]:
# with end parameter end =''
print(?)
print(?)

In [ ]:
# taking user input 

?

In [ ]:
# print the value
?

In [ ]:
a = ?
b = ?
c = ?
print(c)

In [ ]:
a = ?
b = ?
c = ?
print(c)

In [ ]:
a=input("Enter the value of a: ")
print(type(a))
b=input("Enter the value of b: ")
print(type(b))
a = int(a)
print(type(a))
b = int(b)
print(type(b))
c=a+b
print(c)

In [ ]:
# split() method to write multiple imputs in a single line
v1=?
print(v1)

In [ ]:
type(v1)

In [ ]:
## just another way
var=?

In [ ]:
var

In [ ]:
?

In [ ]:
var1

In [ ]:
var2

In [ ]:
a = input().split('a')
a

In [ ]:
#Display float number with 2 decimal places using print()

a3=?
print(?)

## Multiline Statement in Python

In [ ]:
# Statements of python ends with new line character
#MultiLine Statement in python
#another way of creating variable 
a,b,c=10,20,30

?
?
?

print(total)

## Strings In Python

In [ ]:
#Python accepts single ('), double (") and triple (''' or """) quotes
# to denote string literals, as long as the same type of quote starts and ends
# the string.
#The triple quotes are used to span the string across multiple lines. 
#For example, all the following are legal:


word = 'word'
sentence = "This is a sentence."
paragraph = """This is a paragraph.
It is made up of multiple lines and sentences."""
print(word, sentence, paragraph)

## Arithmetic Operators

In [ ]:
a = 2
b = 15
c = 0

In [ ]:
c = ?
print ("Addition of a and b is: ", c)

In [ ]:
c = ?
print ("Subtraction of a and b is: ", c)

In [ ]:
c = ?
print ("Multiplication of a and b is: ", c)

In [ ]:
c = ?
print ("Division of a and b is: ", c)

In [ ]:
num1 = 155
num2 = 10
c = ?
print ("Division of num1 and num2 is: ", c)

In [ ]:
num1 = 155
num2 = 10
c = ?
print ("Division of num1 and num2 is: ", c)

In [ ]:
c = ?
print ("Modulus of a and b is: ", c)

In [ ]:
c = ?
print ("Exponent of a and b is: ", c)

In [ ]:
# possible
a = 10
b = 20.0
print(?)

In [ ]:
# not possible
a = 10
b = 'string1'
print(?)

## Indentation and comment

It is a code block (body of a function, loop, etc.) starts with indentation.
Generally, four whitespaces are used for indentation and are preferred over tabs.

Comment: A Python comment is a line of text that appears in a program but is not executed by the program.

## Comparison Operators

In [ ]:
a = 21
b = 10

In [ ]:
?

In [ ]:
if (?):
    print ("a is equal to b")
else: 
    print ("a is not equal to b")

In [ ]:
if ( ? ):
    print ("a is not equal to b")
else:
    print ("a is equal to b")

In [ ]:
if ( ? ):
    print ("a is less than b")
else:
    print ("a is not less than b")

In [ ]:
if ( ? ):
    print ("a is greater than b")
else:
    print ("a is not greater than b")

In [ ]:
if ( ? ):
    print ("a is either less than or equal to b")
else:
    print ("a is neither less than nor equal to b")

In [ ]:
if ( ? ):
    print ("b is either greater than or equal to b")
else:
    print ("b is neither greater than nor equal to b")

In [ ]:
# simple demo of return value by == operator

a = 0
b = 10
x = ?
y = (?)
print("X is: ",x) 
print("Y is: ",y)

## Logical Operators

In [ ]:
print(True and True)
print(True and False)
print(False and False)
print(True and None)
print(False and None)

In [ ]:
print(True or True)
print(True or False)
print(False or False)
print(True or None)
print(False or None)

In [ ]:
print(not True)
print(not False)
print(not None)

## Bitwise Operators

In [ ]:
print(?)  ## 10 & 100  --> 000
print(?) ## 1010 & 1011 --> 1010

In [ ]:
print(?)  ## 101 | 110 -->111
print(?) ## 1010 & 10000 --> 11010

In [ ]:
print(?) ## ~1000 -> 11001 (-1-8)

In [ ]:
print(?) ## 101 ^ 110 --> 011

In [ ]:
print(?) ## 101 --> 0010

In [ ]:
print(u?) ## 1010 --> 10100

## Ternary Operator

In [ ]:
a, b = 20, 30
large = ?
print(large)

## Membership Operators

In [ ]:
#  in operator

list1 = ?
?
if (?):
    print ("a is present in list1")
else:
    print ("a is not present in list1")

In [ ]:
?

In [ ]:
# in operator
a = 1
if ( ?):
    print ("a is present in list1")
else:
    print ("a is not present in list1")

In [ ]:
?

In [ ]:
# not in operator

b = 5
if ( ?):
    print ("b is not present in list1")
else:
    print ("b is present in list1")

In [ ]:
# not in operator

b = 50
if ( ?):
    print ("b is not present in list1")
else:
    print ("b is present in list1")

In [ ]:
# strings are case sensitive

?

In [ ]:
## what works and what not

# 'd' in 'deloitte' 

# 10 in 20

# str = 'str'

# str in 'string'

## Identity Operators

In [ ]:
a = 20
b = 20
c = 200

In [ ]:
?

In [ ]:
?

In [ ]:
?

In [ ]:
?

In [ ]:
if (?):
    print ("a and b are equal")
else:
    print ("a and b are not equal")

In [ ]:
if (?):
    print ("a and b have same identity")
else:
    print ("a and b do not have same identity")

In [ ]:
if ( ? ):
    print ("a and c have same identity")
else:
    print ("a and c do not have same identity")

In [ ]:
if ( ? ):
    print ("a and c do not have same identity")
else:
    print ("a and c have same identity")

In [ ]:
l1 = [1, 2, 3]
l2 = [1, 2, 3]
# l2 = [3, 2, 1]
print(?)

In [ ]:
s1 = {1, 2, 3}
s2 = {1, 2, 3}
# s2 = {3, 2, 1}
print(?)

## PRECEDENCE

- P – Parentheses
- E – Exponentiation
- M – Multiplication     (Multiplication and division have the same precedence)
- D – Division
- A – Addition     (Addition and subtraction have the same precedence)
- S – Subtraction

In [ ]:
a = (3**2 + 5 * (20/5) * 4) - 10

In [ ]:
a